.akash{
    font-family: "Roboto", serif;
}


.akash1{
    font-family: "DM Serif Text", serif;


}
.akash2{
    font-family: "Playwrite AU SA", serif;
}


.hero{
    background-image:url(Screenshot_20230624-133410.png) ;
    background-size: cover;
    background-repeat:no-repeat ;

    /* background-image:url(Screenshot_20230624-133410.png) ; yah tab use karte hai jab content ke piche background me image use karte hai*/
    height: 500px;
    width: 500px;
    
}