.akash{
    font-family: "Roboto", serif;
}


.saini{
    font-family: "DM Serif Text", serif;


}
.ak{
    font-family: "Playwrite AU SA", serif;
}


.hero{
    background-image: url(burger.png);
    
}