.wrapper{
    background-color: rgb(46, 216, 106);
    display: grid;
    height: 100vh;
    grid-template-columns: 250px 700px auto;
    grid-template-rows: 300px 500px 200px;
}
.ch1,.ch2,.ch3,.ch4,.ch5,.ch6,.ch7,.ch8,.ch9{
    background-color: aquamarine;
    border: 2px solid black;
}