body{
    background-color: aqua;
}
.head{
    font-size: 80px;
}

@media screen and (min-width: 400px) and (max-width: 700px){
    
    body{
        background-color: brown ;
    }
    .head{
        font-size: 40px;
    }
}

/*
@media screen and (max-width: 600px){
    
    body{
        background-color: brown ;
    }
    .head{
        font-size: 40px;
    }
}

min and max with try karo

aaisa bhi kar sakte hai

@media screen and (min-width: 600px){
    
    body{
        background-color: brown ;
    }
    .head{
        font-size: 40px;
    }
}

*/



