.navbar{
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
}

/* static,relative,sticky,fixed,absolute
    yah use karte hai position me apne need ke according */

.navbar ul{
  display: flex;
  gap: 30px;
  list-style: none;
}

h2{
    text-align: center;
}


.icon{
    display: flex;
    justify-content: end;
}

.arrowicon{
    font-size: 70px;
    position: fixed;
    bottom: 30px;
    
}

/* absolute parent se related nahi hota body se related hota hai absolute me body ke according padding mARGIN SET HOTA HAI
 relative apne parent tag se related hota hai relative me parent tag ke according padding margin set hota hai */